@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(99, 46, 150);
    font-size: 1em;
    font-weight: bold;
}
main{
    background-color: white;
    margin: auto;
    min-width: 200px;
    max-width: 1100px;
    min-height: 700px;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}
button{
    font-size: 1.5em;
    border-radius: 5px;
    border-width: 1.5px;
    transition: linear 100ms;
}
button:hover{
    cursor: pointer;
}
button:active{
    background-color: rgba(0, 0, 0, 0.233);
    cursor: default;
}
#carta{
    margin: auto;
    width: 200px;
    height: 110px;
    border-style: solid;
    border-radius: 20px;
    padding: 20px;
    font-size: 2em;
}
.vd{
    font-size: 1.5em;
}
article{
    min-height: 50px;
    text-align: center;
}
#re{
    float: left;
}
#rrr{
    margin: auto;
    text-align: justify;
    min-width: 200px;
    max-width: 650px;
}
#pp{
    font-weight: bold;
    font-size: 1.2em;
}
#s1{
    background-color: rgba(125, 125, 170, 0.541);
}
#s2{
    background-color: rgba(105, 131, 189, 0.548);
}
#fecha{
    float: right;
    width: 50px;
}